{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": ["t@babel/plugin-transform-class-properties", "transform-object-rest-spread"]
}
// {
//   "presets": ["env", "react"],
//   "plugins": ["transform-class-properties", "transform-object-rest-spread"]
// }
